<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/public.css">
    <link rel="stylesheet" href="../../static/css/headerAndFooter.css">
    <link rel="stylesheet" href="../../static/css/teacher/teacher-desc.css">
    <title>歧黄慕课在线学习平台</title>
</head>
<body>
<header>
    <div id="header">
        <div id="nav" style="background-color: #fff !important;">
            <div id="logo" class="logo">
                <img title="iMooc" src="../../static/images/public/logo.png" onclick="window.open('./index.html', 'self')">
            </div>
            <ul id="header-nav-items">
                <li>
                    <a href="/course/list" target="_self">免费课程</a>
                </li>
                <li>
                    <a href="//class.imooc.com" target="_self">
                        学习路径
                    </a>
                </li>
            </ul>
            <div id="search-input" style="min-width: 32px; height: 72px;">
                <div id="search-input-container">
                    <input id="search-area-input" type="text" autocomplete="off">
                </div>
            </div>
            <div id="login-area">
                <ul>
                    <li>
                        <a href="#" id="js-signin-btn">登录</a>
                    </li>
                    <li>
                        <div id="login-signup-separator">/</div>
                    </li>
                    <li>
                        <a href="#" id="js-signup-btn">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="top-box">
    <div class="top-bg-mask">
        <div class="top-content-wrap">
            <div class="clearfix">
                <div class="share-box r">
                    <div class="bdsharebuttonbox bdshare-button-style0-16" data-tag="" data-bd-bind="1523714128519">
                    </div>
                </div>
            </div>
            <div class="teacher-box">
                <!-- <img class="tea-header" src="//img.mukewang.com/566f7dd600019fdf06000608-200-200.jpg" alt=""> -->
                <img class="tea-header" src="//img3.mukewang.com/566f7dd600019fdf06000608-160-160.jpg" alt="">
                <div class="tea-title">
                    <p>慕课网官方认证</p>
                    <h3>精英讲师</h3>
                </div>
                <p class="tea-nickname">Geely</p>
                <p class="tea-professional">JAVA开发工程师</p>
                <a href="javascript:void(0);" class="moco-btn payattention-btn js-payattention-btn js-add-attention" data-id="2705746">
                    <i class="icon-group_add"></i>
                    关注Ta
                </a>
                <p class="tea-desc">Geely，丰富的互联网项目经验，公司内部技术讲师，热爱技术，乐于分享；教学格言：把复杂的技术简单化，简单的技术极致化</p>					<div class="tea-detail-box">
                <ul class="clearfix">
                    <li>
                        <a href="#Shizhan">
                            <p class="num">2</p>
                            <p class="text">实战</p>
                        </a>
                    </li>
                    <li>
                        <a href="#Course">
                            <p class="num">1</p>
                            <p class="text">课程</p>
                        </a>
                    </li>
                    <li>
                        <a href="#Article">
                            <p class="num">15</p>
                            <p class="text">手记</p>
                        </a>
                    </li>
                    <li>
                        <p class="num" id="js-tea-fan-num">2114</p>
                        <p class="text">粉丝</p>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </div>
    <div class="bottom-trangle"></div>
</div>

<div id="teacher-course-list">
    <p id="course-list-title">课程</p>
    <p id="course-list-subtitle">该讲师所有课程</p>
    <div id="course-list-container">
        <ul>
            <li style="background-image: url('//img.mukewang.com/szimg/5a16336900014ca405400300-500-284.jpg');">
                <div class="course-container">
                    <div class="course-title">Java企业级电商项目架构演进之路  Tomcat集群与Redis分布式</div>
                    <div class="course-desc">Tomcat集群+Redis分布式+代码重构+源码原理解析，逐步提高驾驭大项目的能力!</div>
                    <div class="bottom-box">
                        <div class="course-price">￥ 399.0</div>
                        <div class="course-access-btn">→</div>
                    </div>
                </div>
            </li>
            <li class="course-list-right" style="background-image: url('//img.mukewang.com/szimg/5a16336900014ca405400300-500-284.jpg');">
                <div class="course-container">
                    <div class="course-title">Java企业级电商项目架构演进之路  Tomcat集群与Redis分布式</div>
                    <div class="course-desc">Tomcat集群+Redis分布式+代码重构+源码原理解析，逐步提高驾驭大项目的能力!</div>
                    <div class="bottom-box">
                        <div class="course-price">￥ 399.0</div>
                        <div class="course-access-btn">→</div>
                    </div>
                </div>
            </li>
            <li style="background-image: url('//img.mukewang.com/szimg/5a16336900014ca405400300-500-284.jpg');">
                <div class="course-container">
                    <div class="course-title">Java企业级电商项目架构演进之路  Tomcat集群与Redis分布式</div>
                    <div class="course-desc">Tomcat集群+Redis分布式+代码重构+源码原理解析，逐步提高驾驭大项目的能力!</div>
                    <div class="bottom-box">
                        <div class="course-price">￥ 399.0</div>
                        <div class="course-access-btn">→</div>
                    </div>
                </div>
            </li>
            <li class="course-list-right" style="background-image: url('//img.mukewang.com/szimg/5a16336900014ca405400300-500-284.jpg');">
                <div class="course-container">
                    <div class="course-title">Java企业级电商项目架构演进之路  Tomcat集群与Redis分布式</div>
                    <div class="course-desc">Tomcat集群+Redis分布式+代码重构+源码原理解析，逐步提高驾驭大项目的能力!</div>
                    <div class="bottom-box">
                        <div class="course-price">￥ 399.0</div>
                        <div class="course-access-btn">→</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<footer>
    <div class="footer-container">
        <div class="footer-wrap idx-width">
            <div class="footer-sns clearfix">
                <div class="l">
                    <a href="javascript:void(0);" class="footer-sns-weixin" target="_blank" title="微信">
                        <i class="footer-sns-weixin-expand"></i>
                    </a>
                    <p>官方公众号</p>
                </div>
                <div class="l">
                    <a href="http://weibo.com/u/3306361973" class="footer-sns-weibo hide-text" target="_blank" title="新浪微博">
                    </a>
                    <p>官方微博</p>
                </div>
            </div>
        </div>
        <div class="footer-link">
            <!-- <a href="/about/us" target="_blank" title="关于我们">关于我们</a> -->
            <a href="/about/cooperate" target="_blank" title="企业合作">企业合作</a>
            <a href="/about/job" target="_blank" title="人才招聘">人才招聘</a>
            <a href="/about/contact" target="_blank" title="联系我们">联系我们</a>
            <a href="/about/recruit" target="_blank" title="讲师招募">讲师招募</a>
            <a href="/about/faq" target="_blank" title="常见问题">常见问题</a>
            <a href="/user/feedback" target="_blank" title="意见反馈">意见反馈</a>
            <a href="http://daxue.imooc.com/" target="_blank">慕课大学</a>
            <a href="/about/friendly" target="_blank" title="友情链接">友情链接</a>
        </div>
        <div class="footer-copyright">
            <p>©&nbsp;2018&nbsp;中源团队&nbsp;&nbsp;南京中医药大学 信息技术学院</p>
        </div>
    </div>
</footer>
</body>
</html>